# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Lock files
.~lock.*

# Virtual environment
venv*

# Coverage
.coverage

# Python #
##########
# track only text representation of notebooks
*.ipynb 
*.pyc
.ipynb_checkpoints
.pytest_cache

# Build #
#########
build
dist
*.egg-info
**/__pycache__
**/src
**/include

# LaTeX #
#########
*.aux
*.bbl
*.blg
*.out
*.spl
*.log
*.pdf
*.sav
*.bak
_minted*

# MFront/MTest
*.mtest
*.res

# Output/Mesh #
*.xdmf
*.h5
*.msh
*.json
*.vtu
*.pvtu
*.pvd

# Vscode
.vscode

# Sphinx
_build

# FEniCS failures
jitfailure*

