:root {
  --my-blue: #003B71; /* Define your custom color value */
  --my-pink: rgb(85, 1, 85);
}

div.admonition-objectives {
    border-left-color: rgba(var(--my-pink), 1);
}
div.admonition-objectives .admonition-title {
    background-color: rgba(var(--my-pink), .1);
}
div.admonition-objectives .admonition-title:before {
    color: rgba(var(--my-pink), 1);
    content: '\f140';
}

/* div.objectives {
    border-left-color: rgba(var(--my-pink), 1);
}
div.objectives. admonition-title {
    background-color: rgba(var(--my-pink), .1);
}
div.objectives. admonition-title:before {
    color: rgba(var(--my-pink), 1);
    content: '\f140';
} */
